/* :root {
  --nav-duration: .7s;
  --navline-duration: .7s;
  --subheader-duration: .5s;
  --subheader-delay: 0s;
  --graphic-duration: .92s;
  --contact-duration: .7s;
  --contact-delay: 0s;
}

.line1-move { animation: line1-move var(--navline-duration) linear forwards; }
.line2-move { animation: line2-move var(--navline-duration) linear forwards; }

@keyframes line1-move {
  from { top: 0; width: 0%; }
    to { top: 0; width: 80vw; }
}

@keyframes line2-move {
  from { bottom: 0; width: 0%; }
    to { bottom: 0; width: 60vw; }
}

.nav-link {
  -webkit-animation: scale-in-center var(--nav-duration) cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center var(--nav-duration) cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
}




.slide-in-bottom {
  -webkit-animation: slide-in-bottom var(--header-duration) cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom var(--header-duration) cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
  0% { -webkit-transform: translateY(1000px); transform: translateY(1000px); opacity: 0; }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

@keyframes slide-in-bottom {
  0% { -webkit-transform: translateY(1000px); transform: translateY(1000px); opacity: 0; }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}


.scale-in-center {
  -webkit-animation: scale-in-center var(--subheader-duration) cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-center var(--subheader-duration) cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
  animation-delay: var(--subheader-delay);
}

@-webkit-keyframes scale-in-center {
  0% { -webkit-transform: scale(0); transform: scale(0); opacity: 1; }
  100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

@keyframes scale-in-center {
  0% { -webkit-transform: scale(0); transform: scale(0); opacity: 1; }
  100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}





 */
