@import "../node_modules/rfs/scss";

#triangle > footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include font-size(1.25rem);/* calc(5px + (40 - 5) * ((100vw - var(--calc-minPix)) / (var(--calc-maxViewport) - var(--calc-minViewport)))); */
  padding: 0;
}

#logo {
  width: calc(30px + (300 - 30) * ((100vw - var(--calc-minPix)) / (var(--calc-maxViewport) - var(--calc-minViewport))));;
  max-width: 192px;
}

.chevron {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  bottom: auto;
  bottom: 0;
}

.background {
  display: inline;
  height: var(--section-height);
  width: 50%;
}

#left-gradient {
  background: linear-gradient(33.9deg,
  #131112 25vw,
  #4A6E82 25.1vw,
  #4A6E82 27.6vw,
  #F7F7FF 27.7vw,
  #F7F7FF 28.7vw,
  #FE4A49 28.8vw,
  #FE4A49 31.3vw,
  #131112 31.4vw,
  #131112 100vw
  );
 }

#right-gradient {
  
  background: linear-gradient(-33.9deg,
  #131112 25vw,
  #FE4A49 25.1vw,
  #FE4A49 27.6vw,
  #F7F7FF 27.7vw,
  #F7F7FF 28.7vw,
  #4A6E82 28.8vw,
  #4A6E82 31.3vw,
  #131112 31.4vw,
  #131112 100vw
  );
}


/*Footer Styling*/

footer {
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 400px) {
  footer p {
    margin-bottom: 0rem
  }
}