section#about-me
  #about-me-container
    .img-container
      img#me-img(src='./images/headshot.jpg' alt='Derek Robertson')
    .about-me-description
      h1 So Who&apos;s Derek?
      p
        | Hello and welcome to my website! The name&apos;s Derek Robertson, a former electric motor mechanic of over 10 years recently turned web developer. Interested   
        in computers and how those magic boxes work from a young age, I&apos;ve recently decided to try my hand making a living doing something I love- developing!   
        Today my passion is building pixel-perfect websites and functional applications using the latest modern tech stacks and production methods. As an ardent student  
        of the web, there&apos;s few things I&apos;ve found more satisfying than building a good looking and (most importantly) functional product. My goal now is to  
        bring that same passion to your projects. Feel free to explore my portfolio, and see for yourself if you think I&apos;d make a great fit for your team!



