#intro
  .container-fluid.text-center.scale-in-center Hello, I'm Derek!
  p#subheading.text-center.flex-wrap.typewriter I build and design websites
#header-group.container-fluid.vh-100.5d-flex.justify-content-center
  #DWD.d-flex.justify-content-center.merge-top
    #D.roll-in-left D
    #W.swing-in-bottom-fwd W
    #2D.roll-in-right  D
  #DWD2.d-flex.justify-content-center.flicker-last
    #D2.roll-in-left D
    #W2.swing-in-bottom-fwd W
    #2D2.roll-in-right D
  #DWD3.d-flex.justify-content-center.merge-bottom
    #D3.roll-in-left D
    #W3.swing-in-bottom-fwd W
    #3D3.roll-in-right D