#DWD.dwd-container.tv-effect
  .dwd-subcontainer.d-flex.justify-content-center.merge-top
    .roll-in-left D
    .swing-in-bottom-fwd W
    .roll-in-right  D
  .dwd-subcontainer.d-flex.justify-content-center.flicker-last
    .roll-in-left D
    .swing-in-bottom-fwd W
    .roll-in-right D
  .dwd-subcontainer.d-flex.justify-content-center.merge-bottom
    .roll-in-left D
    .swing-in-bottom-fwd W
    .roll-in-right D