section#welcome.container-fluid.vh-100.d-flex.justify-content-center.align-items-center.text-center
  #heading-group.container-fluid.d-flex.flex-column.justify-content-center.align-items-center
      h1#intro.text-center Hello, I&apos;m Derek!
      p#subheading.text-center I build and design websites 

