.contact
  a.contact-tile(href='mailto:dmr.webdev@gmail.com' rel='noreferrer noopener' target='_blank')
    img(src='images/social/gmail.svg' alt='Email Me')
  a.contact-tile(href='https://github.com/dmrwebdev' rel='noreferrer noopener' target='_blank')
    img(src='images/social/github.svg' alt='Github Profile')
  a.contact-tile(href='https://www.linkedin.com/in/dmrwebdev/' rel='noreferrer noopener' target='_blank')
    img(src='images/social/linkedin.svg' alt='LinkedIn Profile')
//
  <a class="contact-tile" href="placeholder.link" target="_blank">
  <img src="images/social/iconfinder_logo_stackoverflow_Stack_overflow_6541656.svg" alt="Stack Overflow Profile">
  </a>
  <a class="contact-tile" href="placeholder.link" target="_blank">
  <img src="images/social/iconfinder_Logo_reddit_robot_6214728.svg" alt="Reddit Profile">
  </a>
  <a class="contact-tile" href="placeholder.link" target="_blank">
  <img src="images/social/iconfinder_Logo_Twitter_bird_6214703.svg" alt="Twitter Profile">
  </a>
