@import '../base/variables';

.roll-in-right {
	-webkit-animation: $roll-right-dur roll-in-right ease-out both;
	        animation: $roll-right-dur roll-in-right ease-out both;
}

@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-6px) rotate(0deg);
            transform: translateX(-6px) rotate(0deg);
    opacity: 1;
  }
}