@import '../base/variables';

//TODO Fix this animation
.typewriter {
  border-right: .125em solid rgb(107, 107, 107);
  font-size: 7rem;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  animation: type 1.5s steps(20, end), blink .7s step-end infinite alternate;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* .typewriter {
  border-right: .125em solid rgb(107, 107, 107);
  font-size: 7rem;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  animation: type 1.5s steps(20, end), blink .7s step-end infinite alternate;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
} 
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

*/