@import '../base/variables';
@import '../../node_modules/rfs/scss';

#about-me {
  position: relative;
  z-index: 1;
  background: $aboutMeSectColor;
  box-shadow: inset 0px 11px 8px -8px #131112,
              inset 0px -11px 8px -8px #131112;
}

#about-me-container {
  max-width: 100%;
  display: flex;
  align-items: center;
}

.img-container {
 /*  max-width: 100%;
  height: auto; */
}

#me-img {
  max-width: 500px;
  height: auto;

  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px #131112;
}

.about-me-description {
  align-self: center;
  @include margin(2rem 4rem);
  @include padding(2rem);

  background-color: $projectSectColor;
  border: 2px solid whitesmoke;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  #about-me-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-me-description {
    @include margin(2rem 0);
    @include padding(1rem);
  }
}

