@import '../base/variables';
@import '../../node_modules/rfs/scss';

.contact {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 5vh;
  right: 1vw;
  z-index: 100;
}

.contact-tile {
  margin-right: 1rem;
}

.contact img {
  filter: brightness(4);
  @include padding(.5rem);
  @include rfs(3rem, width)
}